{% extends 'base.html' %} 
{% block content %}
<h5><a href="{% url 'cars' %}">Back</a></h5>
<h1>Details</h1>
<div class="card container">
  <div class="card-content ">
    <h3>{{ car.make }} {{ car.model }}</h3>
    <img class="responsive-img" src="{{car.img}}" alt="cars" >
    <p>Year: {{ car.year }}</p>
    <p>Color: <span style="font-weight: bold">{{ car.color }}</span></p>
    <p>Mileage: {{ car.mileage|floatformat:"-3g" }}</p>
  </div>
  <div class="card-action grey lighten-3">
    <a href="{% url 'car_update' car.id %}" class="blue-text">Edit</a>
    <a href="{% url 'car_delete' car.id %}" class="btn red white-text">Delete</a>
  </div>
</div>

{% endblock %}
