{% extends 'base.html' %} {% block content %}
<h1>Explore  Cars</h1>
<div class="row">
{% for car in cars %}
<div class="col s12 m12 l6 black-text">
  <div class="card large">
    <div class="card-image" style="height: 500px;">
      <img src="{{car.img}}">
    </div>
    <div class="card-content">
      <p>{{ car.year }} {{ car.make }} {{ car.model }}</p>
      <p>Mileage: {{ car.mileage }}</p>
      <p>Color: {{ car.color }}</p>
    </div>
    <div class="card-action">
      <a href="#" class="blue-text">{{ car.user.username }}</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
