{% extends 'base.html' %} {% block content %}
<h1>Explore  Cars</h1>
<div class="row">
{% for car in cars %}
<div class="col s12 m6 black-text">
  <div class="card hoverable">
    <div class="card-image">
      <img src="{{car.img}}">
    </div>
    <div class="card-content">
      <p>{{ car.year }} {{ car.make }} {{ car.model }}</p>
      <p>Mileage: {{ car.mileage }}</p>
      <p>Color: {{ car.color }}</p>
    </div>
    <div class="card-action">
      <a href="#">{{ car.user.username }}</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
