{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Collector</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="sidenav-trigger">
        <div class="nav-wrapper light-blue darken-2">
          <a href="{% url 'home' %}" class="left brand-logo hide-on-med-and-down">&nbsp;&nbsp;Car Collector</a>
          <!-- hamburger menu for mobile, hidden when on larger width -->
          <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'explore_list' %}">Explore Cars</a></li>
            <li><a href="{% url 'car_create' %}">Add Car</a></li>
            <li><a href="{% url 'cars' %}">View All My Cars</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li style="font-style: italic;">&nbsp;Hello, {{ user.username }}&nbsp;&nbsp;</li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
          <!-- home btn for mobile -->
          <ul class="right show-on-medium-and-down hide-on-med-and-up">
            <a href="{% url 'home' %}"><i class="material-icons">home</i></a>
          </ul>
        </div>
      </nav>
    </header>
    <!-- sidenav bar for mobile -->
    <ul class="sidenav" id="mobile">
      <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'explore_list' %}">Explore Cars</a></li>
            <li><a href="{% url 'car_create' %}">Add Car</a></li>
            <li><a href="{% url 'cars' %}">View All My Cars</a></li>
            <li style="font-style: italic;" class="container right">Hello, {{ user.username }}</li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <!-- <li><a href="{% url 'signup' %}">Sign Up</a></li> -->
            {% endif %}
    </ul>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer light-blue">
      <div class="right">
        All Rights Reserved, &copy; 2023 Car Collector &nbsp;
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- jquery for sidenav -->
    <script>
        $(document).ready(() => {
          $('.sidenav').sidenav();
        });
    </script>
    
  </body>
</html>
